<section>
    <h1>All Artists Artworks</h1>
    {{#each artworks}}
    <section>
        <h2><a href="/artworks/{{_id}}">{{title}}</a></h2>
        <ul>
            <li>Artist Name: {{username}}</li>
            {{#if description.length}}
            <li>Description: {{description}}</li>
            {{/if}}
            <li>Create Date: {{createDate}}</li>
            <li>Category: {{category}}</li>
        </ul>
    </section>
    {{/each}}
</section>