<section>
    <h1>All Artists Artworks</h1>
    {{#each artworks}}
    <section>
        <h2><a href="/artworks/{{_id}}">{{title}}</a></h2>
        <ul>
            <li>{{username}}</li>
            {{#if description.length}}
            <li>{{description}}</li>
            {{/if}}
            <li>{{createDate}}</li>
            <li>{{category}}</li>
        </ul>
    </section>
    {{/each}}
</section>