<section class ="CreateSingle-artwork">
<h2>Create Your Artwork</h2>
<div class = 'link-buttons'>
    <button onclick="location.href='/home'" type="button">Home</button>
</div>

<form method = "POST" enctype="multipart/form-data">
    <label>title
        <input type ='text' id ="title" name="title" placeholder ="title" value="{{artwork.title}}"/> 
    </label>
    <label>description
        <textarea id ="description" name="description" placeholder = "provide a description">{{artwork.description}}</textarea>
    </label>
    <label>Creation Date
        <input type ='date' id ="createDate" name="createDate" placeholder = "creation date" value="{{artwork.createDate}}"/> 
    </label>
    <label>Category
        <input type = 'text' name="category" placeholder = "artwork category" value="{{artwork.category}}"/>
    </label>
    <label>Upload multiple images
        <input type="file" name="image" id="image" accept="image/*" multiple/>
    </label>
    {{!-- <label>Upload single image
        <input type="file" accept="image/*" single>
    </label> --}}

<button type="submit">Submit</button>

</form>
{{#if errors}}
<ul class="text-danger">
    {{#each errors}}
    <li>
    {{this}}   
    </li>
    {{/each}}
    
</ul>
{{/if}} 
</section>