<div>
<div class="card" style="width: 50rem;">
    <div class="card-header">
      <a href="/users/portfolio/{{userId}}" data-size="1600x1067">
     <h5 class="card-title">Artist: {{artwork.username}}</h5>
      </a>
    </div>
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">{{artwork.title}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text">{{artwork.description}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Creation Date</h5>
    <p class="card-text">{{artwork.createDate}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Category</h5>
    <p class="card-text">{{artwork.category}}</p>
  </div>
</div>
<br>
<br>

<div class = "row">
    <div class = "col-md-12">
    <div id = "mdb-lightbox-ui"></div>
        <div class = "mdb-lightbox">
        {{#if pictures}}
        {{#each pictures}}
        <figure class="col-md-4"> 
            <h3 class="text-center my-3">{{title}}</h3>
            <a href="{{pictureUrl}}" data-size="1600x1067">
                <img alt="picture" src={{pictureUrl}} class="img-fluid">
            </a>
            
        </figure>
        {{/each}}
        {{/if}}
        </div>
    </div>
</div>

<!-- Comments Form -->
{{#if session.user}}
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
    <form action="/artworks/{{artwork._id}}/comments" method="post" id="commentForm">
        <div class="form-group">
        <textarea name="comment" id="comment" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" id="submitComment" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{{else}}
<div class="alert alert-warning my-4gi">Login to be able to comment about this artwork.</div>
{{/if}}

<!-- Single Comment -->
{{#if artwork.comments}}
<div id="commentsContainer">
    {{#each artwork.comments}}
<div class="media my-4">
    <img class="d-flex mr-3 rounded-circle avatar-lg" src="/pictures/user/{{userId}}" alt="">
    <div class="media-body">
    <h5 class="mt-0"><a href="/users/portfolio/{{userId}}">{{userName}}</a></h5>
    {{comment}} 
    {{#if (equals userId ../session.user._id) }}
        <br>
        <a href="/artworks/{{../artwork._id}}/comments/{{_id}}" class="deleteComment btn btn-danger btn-sm my-2">Delete</a>
    {{/if}}
    </div>
</div>
    {{/each}}
</div>
{{/if}}
<div class="alert alert-danger" id='commentError'></div>
</div>
  <script src= "/public/js/MDBlightbox.js"></script>