<main class ="DisplaySingle-artwork">

<div class = 'link-buttons'>
    <button onclick="location.href='/home'" type="button">Home</button>
</div>
<br> 
<div class = "body">
<div class = 'artwork-information'>
    <h4>Art work title: {{artwork.title}}</h4>
    <P>Artist Name: {{artwork.username}}</P>
    <p>Art work Description: {{artwork.description}}</p>
    <p>Creation Date: {{artwork.createDate}}</p>
    <p>Category: {{artwork.category}}</p>
</div>

<div class= 'artwork-pictures'>
    {{#if pictures}}
        {{#each pictures}}
        <div class = "images">
            <br>
            <br>
            <p class = "image title">{{title}}</p>
            <img class ="image" src="{{pictureUrl}}"> 
        </div>
        {{/each}}
    {{/if}}
</div>

{{#if artwork.comments}}
<div id="commentsContainer">
    {{#each artwork.comments}}
    <div>
        <p>{{comment}}</p>
        <p>By <a href="/users/portfolio/{{userId}}">{{userName}}</a></p>
        {{#if (equals userId ../session.user._id) }}
            <a href="/artworks/{{../artwork._id}}/comments/{{_id}}" class="deleteComment">Delete</a>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}
{{#if session.user}}
    <form action="/artworks/{{artwork._id}}/comments" method="post" id="commentForm">
        <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Write comment about this artwork"></textarea>
        <button type="submit" id="submitComment">Comment</button>
    </form>
{{/if}}
<div class="alert alert-danger" id='commentError'></div>
</div>


</main>