<div class ="total-display">
<div class ="artinfo-display">
<div class="card">
    <div class="card-header">
      <a href="/users/portfolio/{{userId}}" data-size="1600x1067">
     <h5 class="card-title">Artist: {{artwork.username}}</h5>
      </a>
    </div>
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">{{artwork.title}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text">{{artwork.description}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Creation Date</h5>
    <p class="card-text">{{dateFormat artwork.createDate "YYYY-MM-DD" true}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Category</h5>
    <p class="card-text">{{artwork.category}}</p>
  </div>
</div>
<br>
<br>
</div>

 <div class = "picture-display">
   <div class = "row">
        {{#if pictures}}
        {{#each pictures}}
        <div class="col-md-6 col-lg-4"> 
            <h3 class="text-center my-3">{{title}}</h3>
             {{!-- data-size="1600x1067" --}}
            <a href="{{pictureUrl}}">   
                <img alt="picture" src={{pictureUrl}} class="image-fluid">
            </a>
            
        </div>
        {{/each}}
        {{/if}}
      </div>
 </div>

</div>
  <script src= "/public/js/MDBlightbox.js"></script>