<section class ="DisplaySingle-artwork">

<div class = 'link-buttons'>
    <button onclick="location.href='/home'" type="button">Home</button>
</div>

<section class = 'artwork-information'>
    <form action = "/artworks/{{artwork.id}}" method = "POST">
        <label>title
        <input type ='text' id ="title" name="title" placeholder ="title" value="{{artwork.title}}"/> 
        </label>
    <label>description
        <textarea id ="description" name="description" placeholder = "provide a description">{{artwork.description}}</textarea>
    </label>
    <label>Creation Date
        <input type ='date' id ="createDate" name="createDate" placeholder = "creation date" value="{{artwork.createDate}}"/> 
    </label>
    <label>Category
        <input type = 'text' name="category" placeholder = "artwork category" value="{{artwork.category}}"/>
    </label>

    
    <input type="hidden" name="_method" value="patch" />
    <button type = "submit"> Update </button>
    </form>
</section>
<div>

<h6>Upload more pictures</h6>
<form action ="/artworks/addimage/{{artwork.id}}" method ="POST" enctype="multipart/form-data">
    <input type="file" name="image" id="image" accept="image/*"multiple/>
    <br> 
    <br> 
    <button type = "submit">Upload</button>
</form>


</div>
<section class= 'artwork-pictures' id = "picture-area">
    {{#if pictures}}
        {{#each pictures}}
        <div>
            <p>{{title}}</p>
            <img src="{{pictureUrl}}"> 
            <br>
            <form action ="/artworks/deleteimage/{{_id}}" method = "POST">
                <button type = "submit">Delete</button>
            </form>
        </div>
        {{/each}}
    {{/if}}
</section>

<div>
    <form action = '/artworks/{{artwork.id}}' method = "POST">
        <input type="hidden" name="_method" value="delete" />
        <button type = "submit">DELETE ARTWORK</button>
    </form>
</div>

</section>