<div class = "editArtwork- well">
    <div class = "row">
        <div class ="col">
            <ul class = "nav nav-tabs">
                {{#if displayArtworkinfo}}
                <li class="nav-item"><a href ="#artwork-info" data-toggle="tab" class ="nav-link active">Artwork information</a></li>
                <li class="nav-item"><a href ="#artwork-images" data-toggle="tab" class ="nav-link ">Artwork images</a></li>
                {{else}}
                <li class="nav-item"><a href ="#artwork-info" data-toggle="tab" class ="nav-link">Artwork information</a></li>
                <li class="nav-item"><a href ="#artwork-images" data-toggle="tab" class ="nav-link active ">Artwork images</a></li>
                {{/if}}
            </ul>
        
            <div id ="myTab" class= "tab-content">
                <div {{#if displayArtworkinfo}}class="tab-pane fade active show" {{else}} class=
                "tab-pane fade" {{/if}}id = "artwork-info">
                    <div class = card>
                        <div class ="card-header">
                            <h4 class="card-title mt-2">Edit Your Artwork</h4>
                            <a href = '/users/profile'>Back to Portfolio Page</a>
                        </div>
                        <div class = "card-body">
                            
                            <form id = "editForm" action = "/artworks/{{artwork.id}}" method = "POST">
                                <input type="hidden" name="_method" value="patch" />
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name = "title" value="{{artwork.title}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="Description">Description</label>
                                    <textarea class="form-control" id="description" name = "description" rows="3">{{artwork.description}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="createDate">Creation Date</label>
                                    <input type="date" class="form-control" id="createDate" name = "createDate" value="{{artwork.createDate}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <input type="text" class="form-control" id="category" name = "category" value="{{artwork.category}}" required>
                                    <small id="title-help" class="form-text text-muted">Click Update when you are done editing your artwork</small>
                                </div>
                                <div class="form-group">
                                <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
                <div {{#if displayArtworkinfo}} class ="tab-pane fade"{{else}} class="tab-pane fade show active" {{/if}}id ="artwork-images">
                    <div class = "row">
                        <div class ="col-sm-3">
                            <div class = "card text-center "style="width: 18rem;">
                                <div class = "card header">
                                   <h4 class ="upload-img-p mt-3">Upload more pictures:</h4>
                                    <br>
                                    <form class = "form text-center mx-3" action ="/artworks/addimage/{{artwork.id}}" method ="POST" enctype="multipart/form-data">
                                        <input type="file" name="image" id="image" accept="image/*"multiple/> 
                                    <br>
                                    <br>
                                        <button class = "btn btn-primary" type = "submit">Upload</button>
                                    </form>
                                    <br>
                                    </div>
                                    <div class = "card body">
                                        <br>
                                    <form class ="form" action = '/artworks/{{artwork.id}}' method = "POST">
                                        <input type="hidden" name="_method" value="delete" />
                                        <button class ="btn btn-danger" type = "submit" 
                                        onclick="return confirm('Are you sure you want to delete this artwork?');">DELETE ARTWORK</button>
                                    </form> 
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class ="col-sm-9">
                            <div class= "artwork-pictures">
                                {{#if pictures}}
                                    {{#each pictures}}
                                    <br>
                                    <div>
                                        {{#if title}}
                                        <h3>Title: {{title}}</h3>
                                        {{/if}}
                                        <a href="{{pictureUrl}}" data-size="1600x1067">
                                            <img class= "image" alt="picture" src={{pictureUrl}}>
                                        </a>
                                        <br>
                                        <div class = "row my-2">
                                        <div>

                                       {{#if lastPic}} 
                                       <div>
                                         <p>Last picture not deletable </p>    
                                       </div>
                                       {{else}}
                                       <div> 
                                          <form action ="/artworks/deleteimage/{{_id}}" method = "POST">
                                            <button class = "btn btn-danger" type = "submit" onclick="return confirm('Are you sure you want to delete this image?');"
                                            >Delete</button>
                                        </form> 
                                       </div>
                                        {{/if}}
                                       
                                        </div>
                                        <div class="col-sm">
                                        <form action ="/artworks/changeImageTitle/{{_id}}" method = "POST">
                                            <input type = "text" id ="title" name ="title" value ="{{title}}">
                                            <button type = "submit" class ="btn btn-primary">Update image title</button>
                                        </form>
                                        </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>