<section class = "portfolio">

<div class = 'link-buttons'>
    <button onclick="location.href='/home'" type="button">Home</button>
    <button onclick="location.href='/users/register'" type="button">Register</button>
    <button onclick="location.href='/users/login'" type="button">Login</button>
    <button onclick="location.href='/users/profile'" type="button">My Profile</button>
</div>

<section class = 'User-info-section'>
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <h3>Bio</h3>
    <p>{{user.biography}}</p>
    <p>Email: {{user.email}}</p>
    <a href={{user.websiteUrl}}>Personal Website</a>
</section>

<section class ='artworks-section'>
    {{#each artworks}}
    <div>
        <p>{{artworks.title}}</p>
        <a href="/artworks/{{artworks._id}}"><img alt="artworks cover img" src ={{artworks.displayPicture}}></a>
    </div>
    {{/each}}
</section>

</section>