<section class ="single-artwork">

<div class = 'link-buttons'>
    <button onclick="location.href='/home'" type="button">Home</button>
</div>

<section class = 'artwork-information'>
    <h2>{{artwork.title}}</h2>
    <p>{{artwork.description}}</p>
    <p>Creation Date: {{artwork.createDate}}</p>
    <p>Category: {{artwork.category}}</p>
</section>

<section class= 'artwork-pictures'>
    {{#each picture}}
    <div>
        <p>{{picture.title}}</p>
        <p>{{picture.data}}</p>
    </div>
    {{/each}}
</section>

</section>