<div class="col-xs-4 gallery-item">
  <a href="/artworks/{{_id}}">
  <div class="album">
      {{#each pictures}}
    <img src="{{pictureUrl}}" alt="" />
      {{/each}}
  </div>
  <p class="h6">{{title}}</p>
  <div class="metric-icons d-flex justify-content-center text-primary">
    <i class="fas fa-eye"> {{numberOfViews}}</i>&nbsp;&nbsp;
    <i class="fas fa-heart"> {{likeCount}}</i>
  </div> 
  </a>
</div>