{{> searchbar}}

<div class="container text-center my-3">
  {{#each sections}} 
  <div id="section_{{@index}}" class="carousel slide w-100" data-ride="carousel">
    <div class="carousel-inner w-100" role="listbox">
          <h2>{{title}}</h2>
          <div class="carousel-item row no-gutters active">
            {{#each artworks}}
              <div class="col-3 float-left"><img class="img-fluid" src="{{pictures.[0].pictureUrl}}"></div>
              {{#if (divisibleBy @index 4)}}
                </div>
                <div class="carousel-item row no-gutters">
              {{/if}}
            {{/each}}
          </div>
        <a class="carousel-control-prev" href="#section_{{@index}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#section_{{@index}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  {{/each}}

</div>