<a href="/users/">All Artists</a>
<div>
    <h1>Artfolio</h1>
    {{#if artworks}}
    {{#each artworks}}
    <img src="{{pictures.[0].pictureUrl}}">
    <p>{{artworkTitle}}</p>
    <br>
    {{/each}}
    {{else}}
    <p>Artfolio is coming soon!</p>
    {{/if}}
</div>


{{#if user.userPictureId}}
<img src="/pictures/content/{{user.userPictureId}}">
{{/if}}

<h2>{{ user.firstName }} {{ user.lastName}}</h2>
<p>Bio: {{user.biography}}</p>
<p>Gender: {{ user.gender }}</p>
<p>Email: {{ user.email }}</p>
<a href={{user.websiteUrl}}>Personal Website</a>