<h1>User Information</h1>
<ul>
  <li>{{user.firstName}}</li>
  <li>{{user.lastName}}</li>
  <li>{{user.email}}</li>
  <li>{{user.gender}}</li>
  <li>
    <ul>
      <li>{{user.Address.streetAddress}}</li>
      <li>{{user.Address.city}}</li>
      <li>{{user.Address.state}}</li>
      <li>{{user.Address.zipCode}}</li>
      <li>{{user.Address.country}}</li>
    </ul>
  </li>
  <li>{{user.birthday}}</li>
  <li>{{user.biography}}</li>
  <li>{{user.websiteUrl}}</li>
</ul>